---
export interface Props {
  theme?: "light" | "dark" | "transparent" | "auto";
}

// const light =
//   "https://user-images.githubusercontent.com/20166026/203770324-bafac264-f05f-4ce4-b944-d28e5de06e0d.svg";
// const dark =
//   "https://user-images.githubusercontent.com/20166026/203767771-c977f2cb-30da-49a9-8936-761fc4ee3450.svg";
// const transparent = "/logo.svg";

const theme = Astro.props.theme || "light";
var filllight, filldark;
switch (theme) {
  case "light":
  filllight = "black";
  filldark = "black";
  break;
  case "dark":
  filllight = "white";
  filldark = "white";
  break;
  default:
  filllight = "black";
  filldark = "white";
  break;
}

---

<div class="logowrapper">
  <img src="http://img.himmelovo.fun/blog/IMG_0275.PNG" alt="Description" 
  style="width: 50%; margin-left: 250px; margin-top: -200px;">
</div>

